a{
    text-decoration: none;
    color: black;
}

.list-container{
    width: 45%;
    margin: 10px;
    cursor: pointer;
}

@media screen and (min-width: 722px) {
    .list-container{
        width: 30%;
    }
}